In [117]:
# Imports and pip installations (if needed)
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import datasets
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import datasets
from sklearn import svm
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline
import sklearn
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression

# Part 1: Load the dataset

In [118]:
# Load the dataset (load remotely, not locally)
from sklearn.datasets import load_iris
data = load_iris()
iris_df = pd.DataFrame(data.data, columns=data.feature_names)

In [119]:
# Output the first 15 rows of the data
iris_df.rename(columns = {'Sepal Width' : '0'})
iris_df.head(15)

    sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                 5.1               3.5                1.4               0.2
1                 4.9               3.0                1.4               0.2
2                 4.7               3.2                1.3               0.2
3                 4.6               3.1                1.5               0.2
4                 5.0               3.6                1.4               0.2
5                 5.4               3.9                1.7               0.4
6                 4.6               3.4                1.4               0.3
7                 5.0               3.4                1.5               0.2
8                 4.4               2.9                1.4               0.2
9                 4.9               3.1                1.5               0.1
10                5.4               3.7                1.5               0.2
11                4.8               3.4                1.6               0.2
12                4.8               3.0                1.4               0.1
13                4.3               3.0                1.1               0.1
14                5.8               4.0                1.2               0.2

In [120]:
# Display a summary of the table information (number of datapoints, etc.)
iris_df.info() # for summary
iris_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

## About the dataset
Explain what the data is in your own words. What are your features and labels? What is the mapping of your labels to the actual classes?

Iris data set consists of 50 sample from eachof three species of Iris. Four features were measured from each sample: the lenght and the width and petals, in centimeters. Lables are 0,1,2 corresponding to setosa, versicolor, virginica

# Part 2: Split the dataset into train and test

In [121]:
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
# Take the dataset and split it into our features (X) and label (y)
features = iris_data['data']
lables = iris_data["target"]
# Use sklearn to split the features and labels into a training/test set. (90% train, 10% test)
x_train, x_test, y_train, y_test = train_test_split(features, labels, test_size=0.1, random_state=3) 
x_train

NameError: name 'iris_data' is not defined

# Part 3: Logistic Regression

In [5]:
from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression
# i. Use sklearn to train a LogisticRegression model on the training set
#clf = LogisticRegression(solver='lbfgs',max_iter=1000)
#clf.fit(x_train,y_train)
#clf = LogisticRegression(random_state=0).fit(X, y)

# ii. For a sample datapoint, predict the probabilities for each possible class
prediction = model.predict(text_X)
pd.DataFrame(model.predict_proba(text_X),columns=['0','1','3'])
# iv. Extract the coefficents and intercepts for the boundary line(s)

NameError: name 'model' is not defined

In [2]:
# iii. Report on the scorere for Logistic regression model, what does the score measure?
clf.score(X_test,y_test)

NameError: name 'clf' is not defined

In [124]:
# iv. Extract the coefficents and intercepts for the boundary line(s)

# Part 4: Support Vector Machine

In [11]:
from sklearn import svm
from sklearn.svm import SVC
# i. Use sklearn to train a Support Vector Classifier on the training set
model = svm.SVC(kernel='linear')
svm_model = SVC(probability=True)
# ii. For a sample datapoint, predict the probabilities for each possible class

# iii. Report on the score for the SVM, what does the score measure?

# Part 5: Neural Network

In [12]:
# i. Use sklearn to train a Neural Network (MLP Classifier) on the training set
score = model.score(X_test,y_test)

# ii. For a sample datapoint, predict the probabilities for each possible class

# iii. Report on the score for the Neural Network, what does the score measure?

# iv: Experiment with different options for the neural network, report on your best configuration (the highest score I was able to achieve was 0.8666)

NameError: name 'X_test' is not defined

# Part 6: K-Nearest Neighbors

In [ ]:
# i. Use sklearn to 'train' a k-Neighbors Classifier
# Note: KNN is a nonparametric model and technically doesn't require training
# fit will essentially load the data into the model see link below for more information
# https://stats.stackexchange.com/questions/349842/why-do-we-need-to-fit-a-k-nearest-neighbors-classifier

# ii. For a sample datapoint, predict the probabilities for each possible class

# iii. Report on the score for kNN, what does the score measure?

# Part 7: Conclusions and takeaways

In your own words describe the results of the notebook. Which model(s) performed the best on the dataset? Why do you think that is? Did anything surprise you about the exercise?